%p
  Dear
  = @user.name + ","

 

%p Congratulations, we have accepted you into the World Music School bookings system.

%p 
  You can  
  = link_to 'access your account here', 'http://bookings.worldmusic.school'
  and use the site to book classes.



 

%p Kind regards,

%p The World Music School Helsinki