%p
  Dear
  = @user.name + ","

 

%p Congratulations, we have accepted you into our list.

%p 
  Please 
  = link_to 'log in to your account', 'http://bookings.worldmusic.school'
  and 
  = link_to 'fill your availability', regularavailabilities_url
  into your calendar. 

%p Keep this calendar up to date so students can find you and book classes.

 

%p Kind regards,

%p The World Music School Helsinki