%h1 World Music School: new teacher registration!

%p 
  Hello,
  
%p
  = @user.name
  has registered as a teacher with World Music School.
  
%p
  You (or another admin) must approve this registration before the teacher can get started on the bookings system.
  
%p
  To approve them,
  
  = link_to 'click here', edit_admin_user_url(@user)
  and mark 'approved as teacher'.

%p Thank you!