%h1 World Music School: new student application

%p 
  Dear
  = @user.name + ","

 

%p Welcome to the World Music School's new online calendar system.

%p You have indicated that you are already a member of WMS who have paid the annual membership fee. 

%p A member of WMS staff will check the records and activate your account soon. You will receive an email when this happens. Please make sure play@worldmusic.school is white-listed in your junk email filters (if it isn't already).
 

%p Kind regards,

 

%p  The World Music School Helsinki
