%h1 World Music School: new teacher registration!

%p 
  Hello,
  
%p
  Thank you for registering as a teacher with World Music School.
  
%p Your registration must be approved by WMS staff. As soon as this is done, you will receive another email and then you can log into the bookings system and set your availability/hours.

%p We are reviewing your details. We will contact you about our decision very soon.

%p Kind regards,

%p World Music School Helsinki