%h1 World Music School: new student application

%p 
  Dear
  = @user.name + ","

 

%p Welcome to the World Music School.

%p To finalize your application as student, please transfer the yearly fee.

%p Attached is the invoice.

 

%p Kind regards,

 

%p  The World Music School Helsinki
